.services-header-img {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.services-intro {
    margin: 33px 33px 44px 35px;
}

h3 {
    font-size: 26px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 35px 20px 35px;
}

.box {
    border: 1px solid black;
    padding: 20px;
    background-color: #EEEEEE;
    width: 420px;
    margin: 20px 0;
}

.learnmore {
    border-radius: 5px;
    display: flex;
    margin: 23px 0px 0px 0px;
    font-size: 12px;
    padding: 10px 39px;
}

p {
    margin-top: 10px;
    line-height: 1.3;
}

.footer-service {
    padding: 40px 35px;
}

.svc-footer-txt {
    width: 400px;
}

.svc-list {
    list-style-type: square;
    line-height: 2;
    margin-left: 20px;
}

.services-info-img {

}

.svc-footer-stuff {
    display: flex;
    justify-content: space-between;
}
